@tailwind base;
@tailwind components;
@tailwind utilities;

.backhome {

    background-size: "contain";
    height: 100%;
    background-repeat:no-repeat; 
    background-position: center;
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),    url(
        "./pexels-shonejai-1227511.jpg");
  }

@layer components {
.blinking-cursor:after {
    content: '|';
    @apply text-slate-200;
    animation:blink 1s step-start infinite;
}
    @keyframes blink {
        50%{
            opacity: 0;
        }
    }
}